<p>hey,</p> 
<p>once upon a time, you posted a comment on micah's blog. looks like someone else did, too:</p>
<p>---</p>
<p><%= link_to((image_tag @comment.post.thumb), @comment.post.full_url) %></p>

<p style="font-family:Georgia, serif; font-style: italic;"><%= @comment.body %></p>

<p style="font-family:Georgia, serif; font-style: italic;">- <%= @comment.name %></p>

<p>---</p>
<p>If you want to respond, head back over to <a href="<%= @comment.post.full_url %>">the original post</a></p>

<p>love,</p>
<p>micah</p>