<p style="font-family:Georgia, serif;">hey,</p> 
<p style="font-family:Georgia, serif;">once upon a time, you posted a comment on micah's blog. looks like someone else did, too:</p>
<hr/>

<p style="font-family:Georgia, serif;"><%= link_to((image_tag @comment.post.thumb), @comment.post.full_url) %></p>

<blockquote><%= @comment.body %></blockquote>

<p>- <%= @comment.name %></p>

<hr/>
<p style="font-family:Georgia, serif;">If you want to respond, head back over <%= @comment.post.full_url %></p>

<p style="font-family:Georgia, serif;">love,</p>
<p style="font-family:Georgia, serif; font-style: italic;">micah</p>