/* @override 
	http://micahsflickr.local/stylesheets/awesome.css?1231710742
	http://micahsflickr.local/stylesheets/awesome.css?1231716201
	http://micahsflickr.local/stylesheets/awesome.css?1231717285
	http://micahsflickr.local/flickr/stylesheets/awesome.css
	http://flickr.local/stylesheets/awesome.css?1231746336
	http://flickr.local/stylesheets/awesome.css?1231749103
*/

@font-face {
	font-family: "quicksand dash";
	src: url("/fonts/QuicksandDash.otf") format("opentype");
}

h1 {
	display: none;
}

body {	
	font-size: .75em;
	width: 970px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

html {
	height: 100%;
	margin-bottom: 40px;
}



a {
	color: #e04f4f;
}

a:hover {
	color: #ff7070;
}

/* @group prev-next */

p#prev-next {
	display: block;
	position: absolute;
	top: -12px;
	right: 0;
}

a.prev {
	text-transform: lowercase;
	display: block;
	padding: 5px;
	float: left;
}

a.next {
	text-transform: lowercase;
	display: block;
	padding: 5px;
	float: right;
}

/* @end */

/* @group menu */

ul#menu {
	height: 28px;
	padding: 0;
	margin: 0 auto;
}

ul#menu li {
	list-style-type: none;
	display: block;
	padding: 5px;
	text-align: left;
	float: left;
	margin-bottom: .5em;
}

ul#menu li#rss a {
	display: block;
	background: url(../images/rss.png) no-repeat 5px 2px;
	width: 25px;
	height: 15px;
	text-indent: -9999px;
}

ul#menu li#rss a:hover {
	display: block;
	background: url(../images/rss_hover.png) no-repeat 5px 2px;
	width: 25px;
	height: 15px;
	text-indent: -9999px;
}


/* @end */

img.image {
	width: 970px;
}

a img {
  border:none;
}

h5 {
	font-style: italic;
	font-weight: normal;
	font-size: .8em;
	color: gray;
	text-align: right;
	margin-bottom: 0;
}

h2 {
	font: 4.8em/1.4  "quicksand dash", "Quicksand", "Helvetica Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-transform: lowercase;
	margin-top: 0;
	margin-bottom: .5em;
}

div#description {
	text-align: left;
	line-height: 1.6em;
	margin-bottom: 4em;
}

div#description.three-col {
	width: 970px;
	-webkit-column-count:3;
	-webkit-column-gap:2.5em;
	-moz-column-count:3;
	-moz-column-gap:2.5em;
}

div#description.two-col {
	width: 650px;
	-webkit-column-count:2;
	-webkit-column-gap:2.5em;
	-moz-column-count:2;
	-moz-column-gap:2.5em;
	padding-right: 1.25em;
}

div#description.one-col {
	width: 320px;
	-webkit-column-count:1;
	-webkit-column-gap:2.5em;
	-moz-column-count:1;
	-moz-column-gap:2.5em;
	padding-right: .25em;
}


h2 a {
	color: #262626;
	text-decoration: none;
}

hr {
	border-style: none;
	border-bottom: 3px double #efefef;
	border-top: 1px solid #efefef;
	height: 1px;
	clear: both;
}

span.required {
	color: #e55151;
	padding-left: 2px;
}

form#new_comment p small {
	font-style: italic;
	color: #a4a4a4;
}

form#new_comment label {
	padding-left: 2px;
}

form#new_comment {
	width: 300px;
	display: block;
	float: left;
	margin-top: 1em;
	padding-left: 3px;
}

form#new_comment input, form#new_comment textarea, div#login-form form input {
	width: 288px;
	border: 3px double #dedede;
	padding: 3px;
	background-color: #fafafa;
}

div#flash {
	background-color: #faef7d;
	padding: 1em;
}

form#new_comment input#comment_submit {
	width: 75px;
	margin-left: 225px;
	background-color: #e04f4f;
	color: white;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border: 1px outset #ff7f81;
}

form#new_comment input#comment_submit:hover {
		background-color: #ff7070;

}

form#new_comment input#comment_submit:active {
	border: 1px inset #ffcbcc;
	background-color: #cb4749;

}

ul#comments {
	display: block;
	width: 620px;
	float: left;
	padding-left: 33px;
	margin-top: 2em;
}

div#footer {
	clear: both;
	margin-bottom: 10px;
	height: 50px;
	color: #bebebe;
	font-style: italic;
}

div#login-form form input {
	font-size: 4.8em;
	width: 650px;
}

div#login-form form label {
	display: block;
	text-align: center;
}

div#login-form {
	width: 650px;
	margin: 12em auto;
}

h3.comments {
  display:none;
}

ul#comments li {
	list-style-type: none;
	margin-bottom: 3.5em;
}

ul#comments li h4 {
	text-transform: lowercase;
	margin-bottom: 0;
}
ul#comments li p {
	line-height: 1.6;
	margin-bottom: 1.5em;
}