/* @override http://micahsflickr.local/flickr/stylesheets/fontfaces.css */

@font-face {
	font-family: "quicksand dash";
	src: url("/fonts/QuicksandDash.otf") format("opentype");
}

@font-face {
	font-family: "Santos";
	src: url("/fonts/santo.ttf") format("truetype");
	/* from: http://stalefries.googlepages.com/fontsbreip */
}

@font-face {
	font-family: "Shaynes";
	src: url("/fonts/shaynes_handwriting.ttf") format("truetype");
	/* from: http://stalefries.googlepages.com/fontsbreip */
}

@font-face {
	font-family: "JaneAusten";
	src: url("/fonts/janeaust.ttf") format("truetype");
	/* from: http://stalefries.googlepages.com/fontsbreip */
}

@font-face {
	font-family: "redring";
	src: url("/fonts/redring_1969.ttf") format("truetype");
	/* from: http://stalefries.googlepages.com/fontsbreip */
}

@font-face {
	font-family: "goudy";
	src: url("/fonts/GoudyBookletter1911.otf") format("opentype");
	/* from: http://stalefries.googlepages.com/fontsbreip */
}