<div id="about"><h2>About Me</h2>
<p>Hi, I'm <a href="http://www.micahrich.com">Micah</a>.</p>

<p>I'm a designer, and with a friend of mine, I started <a href="http://www.weareagoodcompany.com">A Good Company™</a>.</p>

<p>I've been taking photos for an awful long time.<br/> 
This blog, though it's gone a few rebirths, is going on 5 years old.<br/> 
I do my best to write and post a photo every day.</p>

<p>There'll be quite a bit coming from this blog this year.<br/> 
If you're interested in purchasing prints of any of these photos, <br/>
or perhaps a forthcoming book, don't hesitate to <a href="mailto:info@micahrich.com" rel="nofollow">get in touch</a>.
<br/>
Be sure to check back or subscribe to the feed for updates!</p>

</div>