<div id="about"><h2>About Me</h2>
<p>Hi, I'm Micah.</p>

<p>I'm a designer, and with a friend of mine, I started <a href="http://www.weareagoodcompany.com">A Good Company™</a>.</p>

<p>I've been taking photos for an awful long time. This blog, though it's gone a few rebirths, is going on 5 years old. I do my best to write and post a photo every day.</p>

<p>There'll be quite a bit coming from this blog this year. <br/>
  Be sure to check back or subscribe to the feed!</p>

</div>